.vs/Sandbox/config/applicationhost.config
.vs/Sandbox/DesignTimeBuild/.dtbcache
.vs/Sandbox/v16/.suo
.vs/Sandbox/v16/Server/sqlite3/db.lock
.vs/Sandbox/v16/Server/sqlite3/storage.ide
.vs/Sandbox/v16/Server/sqlite3/storage.ide-shm
.vs/Sandbox/v16/Server/sqlite3/storage.ide-wal
.vs/*
